.image-slider {


 
  width: 100%;
  background-repeat: no-repeat;
  margin-left: 50px;
  margin-right: 50px;
}

.slider-item {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 20px;
 
  display: none;
}

.slider-item.active {
  display: block;
 
}
